<div class="nav-panel-brand">
	<img class="akka-logo akka-logo-serverless" src="{{uiRootPath}}/img/akka-serverless-full-color.svg">
</div>
{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{#with @root.page.componentVersion}}
    	{{#if title}}
    	<h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
    	{{/if}}
    {{/with}}
{{> nav-tree navigation=this}}
  </nav>
</div>
{{/with}}
